@font-face {
        font-family: "gosha-sans";
        src:url(../fonts/GoshaSansRegular.otf);
}


h1{
    font-family: "gosha-sans";
    font-size: 25px;
    text-align: center;
}

header {
    padding-left: 40px;
    padding-right: 40px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px 0 black;
    gap:20px;
}
header * {
    display: inline-block;
}
.basket{
    height: 55%; 
    max-width: 100%;
    
}
h2{
    font-family: "gosha-sans";
    font-size: 22px;
    padding-top: 40px;
    margin: 0px 50px 0px 50px;
    text-align: center;
}
h3{
    font-family: "gosha-sans";
    font-size: 18px;
    
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom:10px;
    /* margin: 0px 50px 0px 50px; */

}
p{
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
}
.georgetown{
    width: 100%;

}
.button-1{
    a{
        color: black;
        text-decoration: none;
    }

    background-color: rgb(0, 0, 0);
    border: solid 1px;
    color: rgb(255, 255, 255);
    padding: 15px 32px 15px 32px;
    /* padding: 5px 60px; */
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 12px;
    font-family: "gosha-sans";
    margin: 5px 5px;
    cursor: pointer;
    

}
.button-2{
    a{
        color: black;
        text-decoration: none;
    }

    background-color: rgb(0, 0, 0);
    border: solid 1px;
    color: rgb(255, 255, 255);
    padding: 15px 32px 15px 32px;
    /* padding: 5px 60px; */
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 12px;
    font-family: "gosha-sans";
    margin: 20px 90px 20px 90px;
    cursor: pointer;
    
}
.button-3{
    a{
        color: black;
        text-decoration: none;
    }

    background-color: rgb(0, 0, 0);
    border: solid 1px;
    color: rgb(255, 255, 255);
    padding: 15px 32px 15px 32px;
    /* padding: 5px 60px; */
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 12px;
    font-family: "gosha-sans";
    margin: 20px 90px 20px 90px;
    cursor: pointer;
    
}
div.button{
    display:flex;
    justify-content: center;
    margin: 0px 40px 0px 40px;
    gap: 10px;
    padding-bottom: 40px;

}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 400px;
  /* position: relative; */
  margin: auto;
  overflow: hidden;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  /* position: sticky; */
  top: 50%;
  width: auto;
  margin-top: 1050px;
  padding: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* .slideshow-arrows{
    position: absolute;  
    top: 50%;            
    width: 60%;         
    display: flex;
    justify-content: space-between; 
  
} */
/* Caption text */
.text {
    color: #000000;
    font-size: 20px;
    font-family: "gosha-sans";
    padding: 8px 12px;
    /* position: absolute;
    bottom: 8px; */
    width: 100%;
    text-align: center;
  }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot-1 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.reviews{
    padding-top: 60px;
}
div.review-text *{

        padding: 10px;
        margin: 0px 30px 0px 30px;
        font-size: 22px;;
    
}
.customer-reviews{
    padding-bottom: 20px;
}
img.georgetown{
    padding: 10px 30px 10px 30px;
}

.holiday{
    max-width: 400px;
    margin-left: 60px;
    margin-right: 60px;
    
    padding: 0px 10px 40px 10px;

}
.reviews-container{
    background-color: #fff3f9;
    padding-bottom: 20px;
}
img.georgetown-storefront{
    padding: 30px 30px 0px 30px;
    
}
footer{
    font-family: "gosha-sans";
    margin-top: 80px;
    background-color: #fff3f9;
    background-image: url("../images/bw_cakecups_variety-1024x1024.png");
    z-index: -1;
    padding-top: 80px;
    padding-bottom: 60px;

}
.footer-second-line{
    font-family: "gosha-sans";
    font-size: 18px;
    /* background-color: #fff3f9; */
    padding-bottom: 0px;
    margin-top: 40px;
    

}
.paragraph-regular{
    font-family: "gosha-sans";
    padding: 0px;
    margin-left:0px;;
    margin-right: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    
}
.footer-last-line{
    display:flex;
    gap: 10px;
    justify-content: center;
    font-size: 18px;
    padding-bottom: 40px;
    a{
        color: rgb(0, 78, 78);
    }
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
.paragraph-regular{
    font-family: "gosha-sans";
    padding: 5px;
    margin-left:5px;;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 22px;
}
.footer-header{
    padding-bottom: 20px;
}
.cupcake-style{
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    min-height: 100%;
    max-width: 200px;
}
.cupcake-container{
    display: flex;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%; 
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 100%;
    img{
        max-width: 100px;
        max-height: 100px;
    }
}
.cupcake-rectangle-text{

    background-color: #fff9f9;
    max-width: 100%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
   

    .cupcake-container-text{
        padding: 0px;
        margin: 0px;
        text-align: left;
        padding-left: 25px;
        /* padding-top: 25px; */
        /* padding-bottom: 10px; */
        padding-right:25px;
        border-top-left-radius: 10%;
        border-bottom-left-radius: 10%;
        border-top-right-radius: 10%;
        border-bottom-right-radius: 10%;

    } 
}
section.cupcake-container{
    border-top-right-radius: 12%;
    border-bottom-right-radius: 12%;

}


   



  

  